/ElephantFence/nbproject/private/
/ElephantFence/dist/
/ElephantFence/build/
/TestMysensor/nbproject/private/
/TestMysensor/build/
/ThreadTest/nbproject/private/
/ThreadTest/build/
/TestDBUpdate/nbproject/private/
/TestDBUpdate/dist/
/TestDBUpdate/build/
/DonateMEexample/nbproject/private/
/DonateMEexample/build/